// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_menu {
    position: fixed;
    width:100%;
    height: 2.75rem;
    margin:0 auto;
}
.top_menu_img {
    height: 2.75;
    width: 3.5rem;
    top: 17px;
    left:50%;
}

.top_form{
    position:absolute;
    bottom: 0;
}

.top_form_input_search {
    width: calc(100% - 10px);
}

.recipe_top {
    font-family: NotoSansCJKjp-Regular;
    font-size: 17px;
    color: #735E5B;
    letter-spacing: 0;
    text-align: left;
    line-height: 17px;
}